framework/src/xcode/xcode-deps
samples/PearsonPush/builds
# Xcode
.DS_Store
DS_Store
build/
framework/src/xcode/build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
*.xcuserstate
profile
*.moved-aside
DerivedData
.idea/
target/
samples/SeerClientApp/SeerClientApp.xcodeproj/project.pbxproj.BACKUP.31636.pbxproj
samples/SeerClientApp/SeerClientApp.xcodeproj/project.pbxproj.BASE.31636.pbxproj
samples/SeerClientApp/SeerClientApp.xcodeproj/project.pbxproj.LOCAL.31636.pbxproj
samples/SeerClientApp/SeerClientApp.xcodeproj/project.pbxproj.REMOTE.31636.pbxproj
samples/PearsonPush/src/xcode/frameworks
*.swp
