Pi-ios-client.xccheckout
Breakpoints_v2.xcbkptlist
UserInterfaceState.xcuserstate
richard.xcuserdatad/
target/
DS_Store
.DS_Store
build/
framework/src/xcode/build/
*.pbxuser
!default.pbxuser
#samples/PiClient/builds
xcuserdata
*.xcuserstate
profile
#samples/PiClient/src/xcode/frameworks/
umill46.xcuserdatad/
